<div class="panel panel-default">
  <div class="panel-heading">
    <h4><%= t(".sign_up", default: "Sign up") %></h4>
  </div>

  <div class="panel-body">
    <%= simple_form_for resource, as: resource_name, url: registration_path(resource_name) do |f| %>
      <%= f.input :personable_type, prompt: nil, autofocus: true %>
      <%= f.input :first_name, required: true, wrapper_html: { class: "individual" } %>
      <%= f.input :last_name, required: true, wrapper_html: { class: "individual" } %>
      <%= f.input :cpf, required: true, wrapper_html: { class: "individual" } %>
      <%= f.input :corporate_name, required: true, wrapper_html: { class: "company" } %>
      <%= f.input :cnpj, required: true, wrapper_html: { class: "company" } %>
      <%= f.input :phone %>
      <%= f.input :email, required: true %>
      <%= f.input :password, required: true %>
      <%= f.input :password_confirmation, required: true %>

      <%= f.button :submit, t(".sign_up", default: "Sign up"), class: "btn btn-primary" %>
    <% end %>
