<% if @bids.any? %>
  <% @bids.each do |bid| %>
    <div data-bid-id="<%= bid.id %>" class="row bid" style="border: 1px solid #ddd; padding: 20px 10px;">
      <div class="col-md-3">
        <ul style="list-style-type: none; margin-left: -40px;">
          <li>
            <b>Produto:</b> <%= bid.product_text %>
          </li>
          <li>
            <b>Preço:</b> <%= number_to_currency(bid.price, unit: "R$/KG") %>
          </li>
          <li>
            <b>Quantidade:</b> <%= number_with_precision(bid.quantity, precision: 2) %> KG
          </li>
        </ul>
      </div>
      <div class="col-md-9" style="border-left: 1px solid #ddd;">
        <div class="row">
          <div class="col-md-10">
            <ul style="list-style-type: none; margin-left: -30px;">
              <li>
                <b>Publicado em:</b> <%= I18n.l(bid.created_at.to_date) %>
              </li>
              <li>
                <b>Tempo restante:</b>
                <% if bid.created_at + bid.number_of_days.days > Time.now %>
                  <%= distance_of_time_in_words_to_now(bid.created_at + bid.number_of_days.days) %>
                <% else %>
                  Encerrado
                <% end %>
              </li>
              <li>
                <b>Ofertas:</b> <span class="badge"><%= bid.orders_count %></span>
              </li>
            </ul>
          </div>
          <div class="col-md-2">
            <% if bid.progress? %>
              <a class="btn btn-sm btn-block btn-success" href="#" role="button">Vender Agora</a>
            <% end %>

            <% if bid.available? || bid.progress? %>
              <a class="btn btn-sm btn-block btn-danger" href="#" role="button">Cancelar</a>
            <% end %>
          </div>
        </div>
        <div class="row" style="margin-top: 25px;">
          <div class="col-md-12">
            <div class="checkout" style="margin-top: 20px; margin-bottom: 20px;">
              <div class="checkout-row">
                <% Bid.status.values.each_with_index do |status, index| %>
                  <div class="checkout-step">
                    <% if bid.public_send("#{status}?") %>
                      <span class="btn btn-circle btn-primary"><%= index + 1 %></span>
                    <% else %>
                      <span class="btn btn-circle btn-default"><%= index + 1 %></span>
                    <% end %>

                    <p><%= I18n.t("enumerize.bid.status.#{s