<div data-bid-id="<%= order.bid_id %>" class="row order" style="border: 1px solid #ddd; padding: 20px 10px;">
  <div class="col-md-3">
    <ul style="list-style-type: none; margin-left: -40px;">
      <li>
        <b>Produto:</b> <%= order.bid_product_text %>
      </li>
      <li>
        <b>Preço:</b> <%= number_to_currency(order.bid_price, unit: "R$/KG") %>
      </li>
      <li>
        <b>Quantidade:</b> <%= number_with_precision(order.bid_quantity, precision: 2) %> KG
      </li>
    </ul>
  </div>
  <div class="col-md-9" style="border-left: 1px solid #ddd;">
    <div class="row">
      <div class="col-md-10">
        <ul style="list-style-type: none; margin-left: -25px;">
          <li>
            <b>Publicado em:</b> <%= I18n.l(order.bid_created_at.to_date) %>
          </li>
          <li>
            <b>Tempo restante:</b>
            <% if order.bid_created_at + order.bid_number_of_days.days > Time.now %>
              <%= distance_of_time_in_words_to_now(order.bid_created_at + order.bid_number_of_days.days) %>
            <% else %>
              Encerrado
            <% end %>
          </li>
        </ul>
      </div>
      <div class="col-md-2">
        <% if order.open? %>
          <a class="btn btn-sm btn-block btn-danger" href="#" role="button">Cancelar</a>
        <% end %>

        <% if order.purchased