
<div class="panel panel-default">
  <div class="panel-heading">
    <h4><%= t(".sign_in", default: "Sign in") %></h4>
  </div>

  <div class="panel-body">
    <%= simple_form_for(resource, as: resource_name, url: session_path(resource_name),
                                                     html: { role: "form" }) do |f| %>
      <%= f.input :email, autofocus: true %>
      <%= f.input :password, autocomplete: "off" %>

      <% if devise_mapping.rememberable? %>
        <%= f.input :remember_me, as: :boolean %>
      <% end %>

      <%= f.submit  t(".sign_in", default: "Sign in"), class: "btn btn-primary" %>
    <% end %>
  </div>